# AppCode
.idea/

# Bundler
.vendor/

# Carthage
Carthage/

# CocoaPods
Pods/

# DOCBUILD.sh
.docbuild
*.doccarchive

# Git
*.orig

# macOS
.DS_Store

# SPM
.build/

# XCFRAMEWORKBUILD.sh
*.xcframework
.xcframeworkbuild

# Xcode
xcuserdata/
